@charset "UTF-8";
/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  *font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
global > color
-------------------------
*/
:root {
  --bg-gray-light: #f7f7f7;
  --bg-gray: #f2f2f2;
  --bg-gray-dark: #e6e6e6;
  --bg-primary: #06ffe6;
  --bg-primary-dark: #00d2d2;
  --bg-button-red: #e60012;
  --bg-button-primary: #01d2d9;
  --font-color-black: #3c3c3c;
  --font-color-white: #ffffff;
  --font-color-gray: #8c8c8c;
  --font-primary: #06ffe6;
  --border-gray: #f2f2f2;
  --border-gray-dark: #e6e6e6;
  --border-contact-gray: #8c8c8c;
  --border-primary-light: #06ffe6;
  --border-primary: #06f9d2;
  --border-primary-dark: #9eceff;
  --shadow-black: rgba(60,60,60,0.5);
}

/*!
global > font
------------------------------
*/
:root {
  --font-family-base: YakuHanJPs, Roboto, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Arial, nc3Jp sans-serif;
}

/*!
global > content-width
------------------------------
*/
:root {
  --width-content: 1080px;
}

/*
foundation > bace
------------------------------
*/
html {
  background: var(--bg-gray);
}

body {
  font-size: 14px;
  margin: 0 auto;
  font-family: var(--font-family-base);
  color: var(--font-color-black);
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/*!
utility > u-hidden
------------------------------
*/
.u-sp-none {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .u-sp-none {
    display: block !important;
  }
}

.u-pc-none {
  display: block !important;
}
@media screen and (min-width: 768px) {
  .u-pc-none {
    display: none !important;
  }
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  border: 0;
}

.c-button {
  color: var(--font-color-black);
  border: 2px solid var(--border-gray-dark);
  padding: 12px 32px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  background: var(--bg-gray-dark);
}
@media screen and (min-width: 768px) {
  .c-button {
    padding: 12px 40px;
  }
}

.el_ctaBtn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 50px;
  background-color: var(--bg-gray-dark);
  box-shadow: 0 4px 10px var(--shadow-black);
}
.el_ctaBtn:active {
  box-shadow: none;
  transition: 0.05s;
  position: relative;
  top: 3px;
}

.el_contactBtn {
  display: inline-block;
  width: 330px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 0px;
  color: var(--font-color-white);
  background-color: var(--bg-primary-dark);
  box-shadow: 0 4px 10px var(--shadow-black);
}
.el_contactBtn:active {
  box-shadow: none;
  transition: 0.3s;
  position: relative;
  top: 3px;
}
@media screen and (max-width: 375px) {
  .el_contactBtn {
    width: 100%;
  }
}

.el_work-btn {
  width: 40px;
  height: 100px;
  position: absolute;
  top: -60px;
  transition: 0.3s;
  cursor: pointer;
}

.el_work-btn-prev {
  background: rgba(1, 210, 217, 0.2);
  top: calc(30% - 15px);
  left: 0%;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .el_work-btn-prev {
    top: calc(35% - 10px);
  }
}

.el_work-btn-next {
  background: rgba(1, 210, 217, 0.2);
  top: calc(30% - 15px);
  right: 0%;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .el_work-btn-next {
    top: calc(35% - 15px);
  }
}

.el_work-btn::before {
  content: "";
  width: 13px;
  height: 13px;
  border-top: 2px solid var(--border-gray-dark);
  border-right: 2px solid var(--border-gray-dark);
  position: absolute;
  top: 43%;
  transition: 0.3s;
}

.el_work-btn-next::before {
  transform: rotate(45deg);
  left: 10px;
}

.el_work-btn-prev::before {
  transform: rotate(-135deg);
  right: 10px;
}

.el_work-btn:hover {
  background-color: var(--bg-primary-dark);
}

.el_work-btn:hover::before {
  border-color: #fff;
}

.el_header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-gray-dark);
}
@media screen and (min-width: 768px) {
  .el_header {
    height: 60px;
  }
}

.el_ttl {
  width: 90px;
  position: relative;
  font-size: 25px;
  display: grid;
  place-items: center;
  color: var(--font-color-black);
}
@media screen and (min-width: 768px) {
  .el_ttl {
    width: 120px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1080px) {
  .el_ttl {
    width: 180px;
    font-size: 40px;
  }
}
.el_ttl::after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background-color: var(--border-primary-light);
  position: absolute;
  bottom: -2px;
  left: 0;
  box-shadow: 0px -2px 10px var(--bg-primary-dark);
}
@media screen and (min-width: 768px) {
  .el_ttl::after {
    width: 120px;
  }
}
@media screen and (min-width: 1080px) {
  .el_ttl::after {
    width: 180px;
  }
}

.el_subTtl {
  font-size: 14px;
  display: grid;
  place-items: center;
  color: var(--font-color-gray);
}
@media screen and (min-width: 1080px) {
  .el_subTtl {
    font-size: 16px;
  }
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: var(--bg-primary);
  z-index: 9999;
}

.animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg-gray-light);
}

.animation,
.animation:before,
.animation:after {
  width: 1em;
  height: 4em;
  background: var(--bg-gray-light);
  -webkit-animation: load 1s infinite ease-in-out;
          animation: load 1s infinite ease-in-out;
}

.animation:before,
.animation:after {
  position: absolute;
  top: 0;
  content: "";
}

.animation {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.animation:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.animation:after {
  left: 1.5em;
}

@-webkit-keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.bl_jumbotron {
  height: 911px;
}
.bl_jumbotron_inner {
  position: relative;
  max-width: var(--width-content);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}
.bl_jumbotronMain-ttl {
  position: absolute;
  top: 40%;
  left: 0;
  font-size: 32px;
  padding: 40px;
  font-weight: bold;
  -webkit-text-stroke: 0.25px var(--border-gray-dark);
}
@media screen and (min-width: 768px) {
  .bl_jumbotronMain-ttl {
    font-size: 45px;
  }
}
@media screen and (min-width: 1080px) {
  .bl_jumbotronMain-ttl {
    font-size: 50px;
  }
}
.bl_jumbotronSub-ttl {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 40px;
  font-weight: bold;
  -webkit-text-stroke: 0.15px var(--border-gray-dark);
}
@media screen and (min-width: 607px) {
  .bl_jumbotronSub-ttl {
    top: 46%;
  }
}
@media screen and (min-width: 768px) {
  .bl_jumbotronSub-ttl {
    font-size: 25px;
    top: 52%;
  }
}
@media screen and (min-width: 814px) {
  .bl_jumbotronSub-ttl {
    top: 48%;
  }
}

.ly_header {
  background-color: rgba(247, 247, 247, 0.5);
}
.ly_header_inner {
  max-width: var(--width-content);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}
.ly_headerLogo {
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .ly_headerLogo {
    font-size: 30px;
  }
}

#header {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
}
@media screen and (min-width: 768px) {
  #header {
    height: 70px;
  }
}

#header.fixed {
  position: fixed;
  /*fixedを設定して固定*/
  z-index: 999;
  /*最前面へ*/
  top: 0px;
  /*位置指定*/
  left: 0;
  /*位置指定*/
}

@media screen and (min-width: 768px) {
  .bl_navList {
    display: flex;
    line-height: 1.6;
  }
}

.bl_navLink {
  position: relative;
  display: block;
  padding: 15px;
  font-size: 16px;
  border-bottom: var(--border-gray-dark);
}
@media screen and (min-width: 768px) {
  .bl_navLink {
    margin: 0 5px;
    padding: 19px 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--font-color-black);
    -webkit-text-stroke: 0.15px var(--border-gray-dark);
  }
}
@media screen and (min-width: 768px) {
  .bl_navLink span:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .bl_navLink::after {
    content: "";
    display: block;
    height: 1px;
    width: 99%;
    background: var(--bg-primary);
    transform: scale(0, 1);
    transition: 0.5s;
  }
}

@media screen and (min-width: 768px) {
  .bl_navLink:hover {
    color: var(--font-primary);
  }
}

@media screen and (min-width: 768px) {
  .bl_navLink:hover::after {
    transform: scale(1, 1);
  }
}

/* hamburger
----------------------
*/
.el_hamburger {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 999;
}
.el_hamburgerBar {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #333;
  position: absolute;
  left: 10px;
  transition: 0.3s;
}
.el_hamburgerBar:nth-child(1) {
  top: 10px;
}
.el_hamburgerBar:nth-child(2) {
  top: 20px;
}
.el_hamburgerBar:nth-child(3) {
  top: 30px;
}

.el_hamburger:hover .el_hamburgerBar:nth-child(2) {
  left: 10px;
}

.el_hamburger.is-active .el_hamburgerBar:nth-child(1) {
  top: 20px;
  transform: rotate(45deg);
}
.el_hamburger.is-active .el_hamburgerBar:nth-child(2) {
  left: 30px;
  opacity: 0;
}
.el_hamburger.is-active .el_hamburgerBar:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
}

body.is-active {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .bl_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 998;
    background-color: var(--bg-gray-light);
    display: none;
    z-index: 1;
  }

  .bl_navList {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bl_navLink {
    display: block;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    background-color: var(--bg-gray);
  }
  .bl_navLink span {
    margin: 0 10px;
  }
  .bl_navLink span:nth-child(2) {
    font-size: 12px;
  }

  .el_hamburger {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .bl_nav {
    display: block !important;
  }

  .el_hamburger {
    display: none;
  }
}
/****************************************:

container

*****************************************:*/
.ly_container {
  margin: -72px auto 32px;
  background-color: var(--bg-gray-light);
  width: 92%;
  max-width: var(--width-content);
  position: relative;
  padding: 32px 12px 12px;
  box-shadow: 0 5px 45px var(--shadow-black);
}
@media screen and (min-width: 768px) {
  .ly_container {
    padding: 56px 40px;
  }
}
@media screen and (min-width: 1080px) {
  .ly_container {
    margin: -88px auto 32px;
    padding: 72px 56px;
  }
}

.ly_contact_container {
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.4);
  width: 92%;
  max-width: var(--width-content);
  position: relative;
  padding: 48px 12px;
}

.ly_contactForm_container {
  background-color: rgba(255, 255, 255, 0);
  width: 92%;
  max-width: var(--width-content);
  position: relative;
  padding: 42px 12px 24px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .ly_contactForm_container {
    max-width: 768px;
  }
}

/*!
page  > top
------------------------------
*/
/*--------------------------
----------about-------------
----------------------------
*/
@media screen and (min-width: 768px) {
  .bl_aboutIntroduction {
    display: flex;
    margin: 48px 0;
  }
}

.bl_aboutImg {
  background: url(../../image/top/yama.png) center center/cover;
  width: 100%;
  height: 270px;
  margin: 24px auto;
}
@media screen and (min-width: 768px) {
  .bl_aboutImg {
    margin: 10px;
    height: 450px;
  }
}
@media screen and (min-width: 1080px) {
  .bl_aboutImg {
    height: 518px;
  }
}

.bl_aboutContainer {
  width: 100%;
  padding: 24px;
  background-color: var(--bg-gray);
  border: 1px solid var(--border-gray-dark);
  margin: 0 auto 40px;
}
@media screen and (min-width: 768px) {
  .bl_aboutContainer {
    padding: 10px 16px;
    margin: 10px;
  }
}

.bl_about_ttl {
  font-size: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .bl_about_ttl {
    font-size: 25px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 1080px) {
  .bl_about_ttl {
    font-size: 30px;
  }
}

.bl_aboutContents {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .bl_aboutContents {
    margin-top: 72px;
  }
}

.bl_aboutItem {
  padding-top: 5px;
}
.bl_aboutItem:first-child {
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .bl_aboutItem {
    padding-top: 10px;
  }
}
@media screen and (min-width: 1080px) {
  .bl_aboutItem {
    font-size: 20px;
    padding-top: 15px;
  }
}

/*--------------------
--------skill---------
----------------------*/
.bl_skillContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px auto;
}
@media screen and (min-width: 768px) {
  .bl_skillContainer {
    margin: 56px auto;
  }
}

.bl_skillContents {
  width: 25%;
  height: 100px;
  margin: 0 10px;
  margin-bottom: 24px;
  background-color: var(--bg-gray-light);
}
@media screen and (min-width: 500px) {
  .bl_skillContents {
    height: 110px;
  }
}
@media screen and (min-width: 768px) {
  .bl_skillContents {
    height: 200px;
  }
}
.bl_skillContents:nth-child(n+3) {
  margin-bottom: 0;
}
.bl_skillContents:hover {
  box-shadow: 0 4px 10px var(--shadow-black);
  transition: 0.3s;
}

.bl_skillLogo {
  font-size: 50px;
  margin: 5px 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .bl_skillLogo {
    font-size: 100px;
    margin: 20px 0;
  }
}
.bl_skillLogoImg {
  max-height: 20px;
  margin: 23px 5px;
}
@media screen and (min-width: 768px) {
  .bl_skillLogoImg {
    max-width: 200px;
    margin: 65px auto;
  }
}

.bl_skillName {
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .bl_skillName {
    font-size: 16px;
  }
}
@media screen and (min-width: 1080px) {
  .bl_skillName {
    font-size: 20px;
  }
}

.skillCareer_year {
  text-align: center;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .skillCareer_year {
    font-size: 12px;
  }
}

/*-----------------------
----------work-----------
-------------------------*/
.bl_workCarousel_wrap {
  margin: 24px 0 40px;
  background-color: var(--bg-gray);
}
@media screen and (min-width: 768px) {
  .bl_workCarousel_wrap {
    margin: 40px auto 56px;
  }
}

.bl_workCarousel_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bl_workImg {
  width: 100%;
  height: 250px;
  margin: 5px 0;
}
@media screen and (min-width: 768px) {
  .bl_workImg {
    margin: 0;
    height: 392px;
  }
}

.bl_workDate {
  padding-top: 10px;
}

.bl_workName {
  padding-top: 10px;
}

.bl_workPeriod {
  padding: 10px 0;
}

/*-----------------------------
-----------service-------------
-----------------------------*/
.bl_serviceContainer {
  margin: 24px 0 0px;
}

.bl_serviceContents {
  padding: 10px 0;
  margin-bottom: 24px;
  background-color: var(--bg-gray);
  border: 1px solid var(--border-gray-dark);
}

.bl_service_ttl {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
}

.el_blueLine {
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 60%, var(--border-primary-dark) 0%) repeat scroll 0 0;
}

.bl_serviceExplanation {
  padding: 20px 20px 10px;
}

.bl_localAnnouncement {
  margin-bottom: 40px;
}
@media screen and (min-width: 1080px) {
  .bl_localAnnouncement {
    display: flex;
  }
}

.bl_localAnnouncementNext {
  display: flex;
  width: 90%;
  margin: 16px auto 0;
  cursor: pointer;
}
@media screen and (min-width: 1080px) {
  .bl_localAnnouncementNext {
    padding: 15px 80px 15px 40px;
    width: 580px;
    margin: 0 auto;
  }
}

.bl_localAnnouncement_ttl {
  font-size: 16px;
  color: var(--font-color-gray);
}
@media screen and (min-width: 1080px) {
  .bl_localAnnouncement_ttl {
    display: grid;
    place-items: center;
    width: 320px;
    padding: 15px 40px 15px 0;
    border-right: 2px solid var(--border-gray-dark);
  }
}

.el_NextBtn {
  width: 30px;
  height: 30px;
}

.bl_NextBtn_txt {
  display: grid;
  place-items: center;
  padding-left: 10px;
}

/*-----------------------
----------cta-----------
-----------------------*/
.bl_cta {
  padding: 24px 8px;
  background-color: var(--bg-gray);
  border: 1px solid var(--bg-gray-dark);
  text-align: center;
}

.bl_cta_ttl {
  font-size: 20px;
  padding-bottom: 24px;
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid var(--border-gray-dark);
}

.bl_cta_txt {
  line-height: 1.7;
  padding: 24px 0 16px;
}

.bl_contact_txt {
  text-align: center;
  padding: 48px 0 0;
}

.ly_contact {
  background-color: rgba(6, 225, 230, 0.1);
  padding: 32px 0;
}

.el_any {
  margin-left: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--bg-button-primary);
  color: var(--font-color-white);
}

.el_mandatory {
  margin-left: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--bg-button-red);
  color: var(--font-color-white);
}

.bl_contactForm {
  display: block;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .bl_contactForm {
    display: table-cell;
  }
}

.bl_contactForm th {
  display: block;
  width: 100%;
  margin: 24px 0 16px;
}
@media screen and (min-width: 768px) {
  .bl_contactForm th {
    display: table-cell;
    width: 40%;
    margin: 0;
    border-bottom: 2px solid var(--border-gray-dark);
  }
}

.bl_contactForm td {
  display: block;
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 2px solid var(--border-gray-dark);
}
@media screen and (min-width: 768px) {
  .bl_contactForm td {
    display: table-cell;
    padding: 24px 0px 24px;
  }
}

.el_contact {
  background-color: var(--bg-gray-light);
  border: 1px solid var(--border-contact-gray);
  width: 100%;
  height: 30px;
  transition: 0.3s;
}
@media screen and (min-width: 375px) {
  .el_contact {
    max-width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .el_contact {
    max-width: 100%;
  }
}

.el_contact:focus {
  border: var(--border-primary);
  outline: none;
  box-shadow: 0 0 4px 2px var(--border-primary-dark);
}

.bl_name {
  display: flex;
}

.el_name {
  width: 49%;
  height: 30px;
  background-color: var(--bg-gray-light);
  border: 1px solid var(--border-contact-gray);
  transition: 0.3s;
}
@media screen and (min-width: 375px) {
  .el_name {
    max-width: 42.5%;
  }
}
@media screen and (min-width: 768px) {
  .el_name {
    max-width: 49%;
  }
}

.el_name:focus {
  border: var(--border-primary);
  outline: none;
  box-shadow: 0 0 4px 2px var(--border-primary-dark);
}

.el_checkbox {
  width: 100%;
  margin: 10px 0;
}

.bl_textarea {
  width: 100%;
  background-color: var(--bg-gray);
  border: 1px solid var(--border-contact-gray);
}

.bl_textarea:focus {
  border: var(--border-primary);
  outline: none;
  box-shadow: 0 0 4px 2px var(--border-primary-dark);
  transition: 0.3s;
}

label {
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}

label::before,
label::after {
  content: "";
  display: block;
  position: absolute;
}

label::before {
  background-color: #fff;
  border-radius: 0%;
  border-radius: 2px;
  border: 1px solid var(--border-contact-gray);
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  top: 50%;
  left: 5px;
}

label::after {
  border-bottom: 2px solid var(--border-primary-dark);
  border-left: 2px solid var(--border-primary-dark);
  opacity: 0;
  height: 5px;
  width: 10px;
  transform: rotate(-45deg);
  top: 4px;
  left: 7px;
}

input:checked + label::after {
  opacity: 1;
}

.bl_confirmation {
  font-size: 12px;
  margin: 24px 0 32px;
}
@media screen and (min-width: 500px) {
  .bl_confirmation {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .bl_confirmation {
    font-size: 16px;
  }
}

.el_textCenter {
  text-align: center;
}

.bl_successArea {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  color: var(--font-color-black);
}

.bl_successWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 90px 30px;
  background-color: var(--bg-gray-light);
  border: 1px solid var(--border-primary);
  color: var(--font-color-black);
}

.js-slide-top {
  transform: translateY(-50px);
}

.js-slide {
  opacity: 0;
  transition: 0.6s ease-out;
}

.js-slide .is-active {
  transform: translate(0, 0);
  opacity: 1;
}

.bl_mv {
  position: relative;
  background-color: rgba(6, 255, 230, 0.2);
  width: 100%;
  height: 811px;
  margin: 24px 0 40px;
}
.bl_mvBorder {
  width: 100%;
  padding: 150px 0;
  -webkit-clip-path: polygon(0% 0, 100% calc(0% + 40vw), 100% calc(100% - 5vw), 0 0%);
          clip-path: polygon(0% 0, 100% calc(0% + 40vw), 100% calc(100% - 5vw), 0 0%);
  background-color: var(--bg-primary);
}
@media screen and (min-width: 768px) {
  .bl_mvBorder {
    padding: 200px 0;
  }
}

.bl_mv_inner {
  position: relative;
  max-width: var(--width-content);
  width: 92%;
  height: 60%;
  margin-right: auto;
  margin-left: auto;
}

.bl_mv-ttl {
  position: absolute;
  top: 10%;
  font-weight: bold;
  line-height: 2;
  font-size: 22px;
}
@media screen and (min-width: 768px) {
  .bl_mv-ttl {
    font-size: 24px;
  }
}

.bl_mvSub-ttl {
  position: absolute;
  top: 50%;
  line-height: 2;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .bl_mvSub-ttl {
    font-size: 18px;
  }
}

.bl_reason_box {
  padding: 40px 0;
  border-top: 2px solid var(--border-gray-dark);
}
.bl_reason_box:nth-child(6) {
  border-bottom: 2px solid var(--border-gray-dark);
}

.bl_ttl_box {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}

.bl_number {
  position: relative;
  width: 50px;
  height: 50px;
  color: var(--font-color-white);
  background-color: var(--bg-primary);
}
.bl_number span {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
}

.bl_serviceSection_ttl {
  max-width: 250px;
  width: 100%;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 500px) {
  .bl_serviceSection_ttl {
    max-width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .bl_serviceSection_ttl {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

.bl_serviceSection_subTtl {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 500px) {
  .bl_serviceSection_subTtl {
    text-align: left;
  }
}

.bl_serviceSection_txt {
  padding-top: 24px;
  line-height: 1.8;
  display: grid;
  place-items: center;
}

.bl_service_txt {
  padding: 20px 0 0px;
}

/*!
layout > footer
--------------------------
*/
.ly_footer {
  padding: 10px 0;
  background-color: var(--bg-gray-dark);
}
.ly_footer_inner {
  max-width: var(--width-content);
  margin: 0 auto;
}
.ly_footerTop {
  width: 92%;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

.ly_footerLogo {
  font-size: 20px;
  line-height: 50px;
}
@media screen and (min-width: 768px) {
  .ly_footerLogo {
    font-size: 25px;
  }
}
@media screen and (min-width: 1080px) {
  .ly_footerLogo {
    font-size: 30px;
  }
}

.el_footerTwitter {
  position: absolute;
  top: 8px;
  right: 66px;
}
@media screen and (min-width: 768px) {
  .el_footerTwitter {
    width: 40px;
    height: 40px;
    top: 6px;
  }
}

.el_footerBackToTop {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 35px;
  height: 35px;
  background-color: var(--bg-gray-light);
}
.el_footerBackToTop:hover {
  background-color: #9eceff;
  transition: 0.3s;
}
.el_footerBackToTop:hover::before {
  border-top: solid 2px var(--border-gray);
  border-right: solid 2px var(--border-gray);
}
@media screen and (min-width: 768px) {
  .el_footerBackToTop {
    width: 40px;
    height: 40px;
    top: 6px;
  }
}
.el_footerBackToTop::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  position: absolute;
  top: 52%;
  left: 36%;
  margin-top: -4px;
  transform: rotate(-45deg);
}

.hp_btGray {
  border-top: 2px solid var(--border-gray) !important;
}

.el_footerCopyright {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */