@use "../global/index" as g;

.bl_contact_txt {
    text-align: center;
    padding: 48px 0 0;
}

.ly_contact {
    background-color: rgba(6, 225, 230, .1);
    padding: 32px 0;
}

.el_any {
    margin-left: 10px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--bg-button-primary);
    color: var(--font-color-white);
}

.el_mandatory {
    margin-left: 10px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--bg-button-red);
    color: var(--font-color-white);
}

.bl_contactForm {
    display: block;
    width: 100%;
    margin: 0 auto;
    @include g.mq() {
        display: table-cell;
    }
}

.bl_contactForm th{
    display: block;
    width: 100%;
    margin: 24px 0 16px;
    @include g.mq() {
        display: table-cell;
        width: 40%;
        margin: 0;
        border-bottom: 2px solid var(--border-gray-dark);
    }
}

.bl_contactForm td{
    display: block;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--border-gray-dark);
    @include g.mq() {
        display: table-cell;
        padding: 24px 0px 24px;
    }
}
.el_contact {
    background-color: var(--bg-gray-light);
    border: 1px solid var(--border-contact-gray);
}

.el_contact {
    width: 100%;
    height: 30px;
    @media screen and (min-width: 375px) {
        max-width: 85%;
    }
    @include g.mq() {
        max-width: 100%;
    }
}

.bl_name {
    display: flex;
}
.el_name {
    width: 49%;
    height: 30px;
    background-color: var(--bg-gray-light);
    border: 1px solid var(--border-contact-gray);
    @media screen and (min-width: 375px) {
        max-width: 42.5%;
    }
    @include g.mq() {
        max-width: 49%;
    }
}

.el_checkbox {
    width: 100%;
    margin: 10px 0;
}

.bl_textarea {
    width: 100%;
    background-color: var(--bg-gray);
    border: 1px solid var(--border-contact-gray);
}

label {
    cursor: pointer;
    padding-left: 30px;
    position: relative;
}


label::before,
label::after {
    content: "";
    display: block; 
    position: absolute;
}

label::before {
    background-color: #fff;
    border-radius: 0%;
    border-radius: 2px;
    border: 1px solid var(--border-contact-gray);
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    top: 50%;
    left: 5px;
}

label::after {
    border-bottom: 2px solid var(--border-primary-dark);
    border-left: 2px solid var(--border-primary-dark);
    opacity: 0;
    height: 5px;
    width: 10px;
    transform: rotate(-45deg);
    top: 4px;
    left: 7px;
}

input:checked + label::after {
    opacity: 1;
}

.bl_confirmation {
    font-size: 12px;
    margin: 24px 0 32px;
    @include g.mq(sm) {
        font-size: 14px;
    }
    @include g.mq() {
        font-size: 16px;
    }
}

.el_textCenter {
    text-align: center;
}