@use "../global/index" as g;

/*!
page  > top
------------------------------
*/

/*--------------------------
----------about-------------
----------------------------
*/
.bl_aboutIntroduction {
    @include g.mq() {
        display: flex;
        margin: 48px 0;
        
    }
}

.bl_aboutImg {
    background: url(../../image/top/yama.png) center center /cover;
    width: 100%;
    height: 270px;
    margin: 24px auto;
    @include g.mq() {
        margin: 10px;
        height: 450px;
    }
    @include g.mq(lg) {
        height: 518px;
    }
}

.bl_aboutContainer {
    width: 100%;
    padding: 24px;
    background-color: var(--bg-gray);
    border: 1px solid var(--border-gray-dark);
    margin: 0 auto 40px;
    @include g.mq() {
        padding: 10px 16px;
        margin: 10px;
    }
}

.bl_about_ttl {
    font-size: 20px;
    text-align: center;
    @include g.mq() {
        font-size: 25px;
    }
    @include g.mq() {
        font-size: 30px;
    }
}

.bl_aboutContents {
    margin-top: 16px;
    @include g.mq() {
        margin-top: 56px;
    }
}

.bl_aboutItem {
    padding-top: 5px;
    &:first-child {
        padding-top: 0;
    }
    @include g.mq {
        padding-top: 10px;
    }
    @include g.mq(lg) {
        font-size: 20px;
        padding-top: 15px;
    }
}

/*--------------------
--------skill---------
----------------------*/

.bl_skillContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px auto;
    @include g.mq() {
        margin: 56px auto;
    }
}

.bl_skillContents {
    width: 25%;
    height: 100px;
    margin: 0 10px;
    margin-bottom: 24px;
    background-color: var(--bg-gray-light);
    border: 1px solid var(--border-gray-dark);
    box-shadow: 0 4px 10px var(--shadow-black);
    @include g.mq() {
        height: 200px;
    }
    &:nth-child(n + 3) {
        margin-bottom: 0;
    }
    
}

.bl_skillLogo {
    font-size: 50px;
    margin: 5px 0;
    text-align: center;
    @include g.mq() {
        font-size: 100px;
        margin: 10px 0;
    }
    &Img {
        margin: 23px 0;
        @include g.mq {
            margin: 45px 0;
        }
    }
    
}

.bl_skillName {
    text-align: center;
    font-size: 16px;
    @include g.mq(lg) {
        font-size: 20px;
    }
}

/*-----------------------
----------work-----------
-------------------------*/
.bl_workContainer {
    width: 100%;
    margin: 24px 0 40px;
    background-color: var(--bg-gray);
    @include g.mq() {
        width: 84%;
        margin: 40px auto 56px;
    }
}

.bl_workImg {
    background: url(../../image/top/work.jpg) center center/cover;
    width: 100%;
    height: 177px;
    margin: 5px 0;
    @include g.mq() {
        margin: 0;
        height: 392px; 
    }
}
.bl_workDate {
    padding-top : 5px;
} 
.bl_workName {
    padding: 5px 0;
}

/*-----------------------------
-----------service-------------
-----------------------------*/
.bl_serviceContainer {
    margin: 24px 0 0px;
}

.bl_serviceContents {
    padding: 10px 0;
    margin-bottom: 24px;
    background-color: var(--bg-gray);
    border: 1px solid var(--border-gray-dark);
}

.bl_service_ttl {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
}
.el_blueLine{
    background:rgba(0, 0, 0, 0) linear-gradient(transparent 60%, var(--border-primary-dark) 0%) repeat scroll 0 0;
}

.bl_serviceExplanation {
    padding: 20px 20px 10px;
}

.bl_localAnnouncement {
    margin-bottom: 40px;
    @include g.mq(lg) {
        display: flex;
    }
}

.bl_localAnnouncementNext {
    display: flex;
    width: 90%;
    margin: 16px auto 0;
    @include g.mq(lg) {
        padding: 15px 80px 15px 40px ;
        width: 580px;
        margin: 0 auto;
    }
}

.bl_localAnnouncement_ttl {
    font-size: 16px;
    color: var(--font-color-gray);
    @include g.mq(lg) {
        display: grid;
        place-items: center;
        width: 320px;
        padding: 15px 40px 15px 0;
        border-right: 2px solid var(--border-gray-dark);
    }
}

.el_NextBtn {
    width: 30px;
    height: 30px;
}

.bl_NextBtn_txt {
    display: grid;
    place-items: center;
    padding-left: 10px;
}

/*-----------------------
----------cta-----------
-----------------------*/

.bl_cta {
    padding: 24px 8px;
    background-color: var(--bg-gray);
    border: 1px solid var(--bg-gray-dark);
    text-align: center;
}

.bl_cta_ttl {
    font-size: 20px;
    padding-bottom: 24px;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid var(--border-gray-dark);
}

.bl_cta_txt {
    line-height: 1.7;
    padding: 24px 0 16px;
}

.el_ctaBtn {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    
    padding: 15px 50px;
    background-color: var(--bg-gray-dark);
    box-shadow: 0 4px 10px var(--shadow-black);
}
