/****************************************:

container

*****************************************:*/
@use "../global/index"as g;

.ly_container {
    margin: -72px auto 32px;
    background-color: var(--bg-gray-light);
    width: 92%;
    max-width: var(--width-content); 
    position: relative; // 追記
    padding: 32px 12px 12px;
    box-shadow: 0 5px 45px var(--shadow-black);
    // 追記
    @include g.mq() {
        padding: 56px 40px;

    }

    @include g.mq(lg) {
        margin: -88px auto 32px;
        padding: 72px 124px;
    }
}
.ly_contact_container {
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.4);
    width: 92%;
    max-width: var(--width-content); 
    position: relative; // 追記
    padding: 42px 12px;
}
.ly_contactForm_container {
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    max-width: var(--width-content); 
    position: relative; // 追記
    padding: 42px 12px;
}